header {
  width: 100%;
  height: 164px;
}

img {
  height: 25%;
  padding-top: 40px;
  padding-left: 5rem;
}

.multi_select {
  width: 440px;
}

.rmsc {
  --rmsc-main: 1px solid rgba(30, 30, 30, 0.3) !important;
  --rmsc-hover: #f1f3f5;
  --rmsc-selected: #e2e6ea;
  --rmsc-border: #ccc;
  --rmsc-gray: #aaa;
  --rmsc-bg: #fff;
  --rmsc-p: 10px; /* Spacing */
  --rmsc-radius: 10px !important; /* Radius */
  --rmsc-h: 50px !important; /* Height */
}

.formWrapper {
  font-family: 'Poppins';
  display: flex;
  margin: auto;
  margin-bottom: 2rem;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 35rem;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(30, 30, 30, 0.5);
  border-radius: 30px;
}
.styleInput {
  width: 400px;
  height: 50px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  border-radius: 10px;
  padding-left: 2rem;
}

.styleSelect {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  width: 440px;
  height: 50px;
  border: 1px solid rgba(30, 30, 30, 0.3);
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 15px;
  background: #ffffff;
  color: gray;
  background-image: url(../assets/drop-down-arrow.png);
  background-repeat: no-repeat;
  background-position: calc(96%)center;
  background-size: 15px;
}
.styleSelect:focus{
  cursor: pointer; 
}

.btnContainer{
  display: flex;
  justify-content: center;
}

.btnSubmit{
  color: white;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  background: linear-gradient(90deg, #00B75F -21.97%, #05FF00 113.38%);
  border-radius: 30px;
  border: none;
  padding: 20px 60px;
  margin-top: 50px;
  cursor: pointer;
}

tr{
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

td{
  margin-right: 10px;
}

.file input{
  display: none;
}

.file label{
  color: #fff;
  cursor: pointer;
  font-family: 'Poppins';
  display: block;
  background: linear-gradient(90deg, #0085ff -21.97%, #00e0ff 113.38%);
  border-radius: 20px;
  padding: 10px 20px;
}

input[type="file"]::file-selector-button {
  font-family: 'Poppins';
  border: none;
  background: linear-gradient(90deg, #0085ff -21.97%, #00e0ff 113.38%);
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: linear-gradient(90deg, #0085ff -21.97%, #00e0ff 90.38%);
}
