.main {
    height: 100%;
    width: 100%;
  }
  
  .block {
    text-align: center;
    margin: 0px auto;
    width: 550px;
    height: 641px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(30, 30, 30, 0.4);
    border-radius: 30px;
  }
  
  .titulo {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 60px;
    color: #636363;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: 0;
    align-items: center;
  }

  .buttongenerate {
    background-image: linear-gradient(to right, #FF004D 0%, #FF00B8  100%);
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 10px 60px rgba(30, 30, 30, 0.4);
    transition: 0.5s;
    background-size: 200% auto;
  }

  .buttongenerate:hover {
    background-position: right center;
    text-decoration: none;
  }

  .buttoncreate {
    background-color: white;
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 10px;
    margin-bottom: 8px;
    box-shadow: 0px 10px 60px rgba(30, 30, 30, 0.4);
    transition: 0.5s;
  }

  .buttoncreate:hover {
    filter: brightness(96%);
  }

  .buttontext {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin: 0;
    margin-bottom: 15px;
  }

  .content {
    margin: 5%;
    margin-top: 0;
  }

  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
  }

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .closebtn:hover {
    color: black;
  }
  
  .inputcont {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 30px;
    width: 360px;
    height: 60px;
    text-align: center;
    margin: 0px auto;  
  }
  
  .input{
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    outline: none; 
    width: 250px;
  }
  
  .wrapper {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: center;
  }
  
  .button63 {
    background-image:  linear-gradient(90deg, #0085FF -21.97%, #00E0FF 113.38%);
    border-radius: 30px;
    border: 0;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    color: #FFFFFF;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1em;
    width: 140px;
    height: 70px;
    padding: 19px 24px;
  }
  
  @media (min-width: 768px) {
    .button63 {
      font-size: 24px;
      min-width: 196px;
    }
  }
  
  .titulo2 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 60px;
    color: #1E1E1E;
  }
  
  .icon{
    font-size: 20px;
    color: rgba(31, 31, 31, 0.4);
    padding-right: 15px
  }
  
  #pass{
    cursor: pointer;
  }
  
  .modal-container {
    margin: 60px auto;
    padding-top: 0px;
    position: relative;
    width: 160px;
  }
  .modal-container .modal-btn {
    display: block;
    margin: 0 auto;
    color: #fff;
    width: 160px;
    height: 50px;
    line-height: 50px;
    background: #446CB3;
    font-size: 22px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 5px -5px #333;
    transition: background 0.3s ease-in;
  }
  .modal-container .modal-btn:hover {
    background: #365690;
  }
  .modal-container .modal-content,
  .modal-container .modal-backdrop {
    height: 0;
    width: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
  }
  .modal-container .modal-close {
    color: #aaa;
    position: absolute;
    right: 5px;
    top: 5px;
    padding-top: 3px;
    background: #fff;
    font-size: 16px;
    width: 25px;
    height: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
  }
  .modal-container .modal-close:hover {
    color: #333;
  }
  .modal-container .modal-content-btn {
    position: absolute;
    text-align: center;
    cursor: pointer;
    bottom: 20px;
    right: 30px;
    background: #446CB3;
    color: #fff;
    width: 50px;
    border-radius: 2px;
    font-size: 14px;
    height: 32px;
    padding-top: 9px;
    font-weight: normal;
  }
  .modal-container .modal-content-btn:hover {
    color: #fff;
    background: #365690;
  }
  .modal-container #modal-toggle {
    display: none;
  }
  .modal-container #modal-toggle.active ~ .modal-backdrop, .modal-container #modal-toggle:checked ~ .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
  .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
    opacity: 1;
    background-color: #fff;
    max-width: 400px;
    width: 400px;
    height: 280px;
    padding: 10px 30px;
    position: fixed;
    left: calc(50% - 200px);
    top: 12%;
    border-radius: 4px;
    z-index: 999;
    pointer-events: auto;
    cursor: auto;
    visibility: visible;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.6);
  }
  @media (max-width: 400px) {
    .modal-container #modal-toggle.active ~ .modal-content, .modal-container #modal-toggle:checked ~ .modal-content {
      left: 0;
    }
  }