.container{
    width: 700px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    /* border: 1px solid black; */
    font-size: 0;
  }
  
  
  .cuadro{
    box-sizing: border-box;
    /* border: 1px solid black; */
    font-size: 16px;
    text-align: center;
  }
  
  .cont{
    box-shadow: 0px 10px 60px rgba(30, 30, 30, 0.4);
    border-radius: 10px;
    width: 100%;
    height: 214px;
    background-color: white;
  }

.logo{
  width: 120px;
  height: 120px;

}

.linea {
  border-top: 1px solid black;
  height: 2px;
  max-width: 200px;
  padding: 0;
  margin: 20px auto 0 auto;
}
input[type=checkbox] {
  
  vertical-align: middle;
  float: right;
  
}
